<form #f="ngForm" (ngSubmit)="submit(f)">
    <div ngModelGroup="contact" #contact="ngModelGroup">
        <div *ngIf="contact.touched && !contact.valid">You haven't filled out the form completely yet.</div><br/>
        <div class="form-group">
            <label for="">First Name</label>
            <input required minlength="3" maxlength="20" pattern="Steve" ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" id="firstName" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors.required">First Name is required.</div>
                <div *ngIf="firstName.errors.minlength">First Name should be minimum {{ firstName.errors.minlength.requiredLength }} chars.</div>
                <div *ngIf="firstName.errors.maxlength">First Name should be max {{ firstName.errors.maxlength.requiredLength }} chars.</div>
                <div *ngIf="firstName.errors.pattern">First Name does not match pattern: {{ firstName.errors.pattern.requiredPattern }}.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea ngModel name="comment" #comment="ngModel" (change)="log(comment)" id="comment" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ngModel name="isSubscribed"> Subscribe to mailing list.
            </label>
        </div>

        <div class="form-group">
            <label for="contactMethod">Contact Method</label>
            <select ngModel multiple name="contactMethod" id="contactMethod" class="form-control">
                <option></option>
                <option *ngFor="let method of contactMethods" [ngValue]="method">{{ method.name }}</option>
            </select>
        </div>

        <div *ngFor="let method of contactMethods" class="radio">
            <label>
                <input ngModel type="radio" name="contactMethod" [value]="method.id">
                {{ method.name }}
            </label>
        </div>

        <p>{{ f.value | json }}</p>
    </div>
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
