<h1>Angular</h1>
<br/>


<br/>
<div *ngIf="courses.length > 0; then courseList else noCourses"></div>
<ng-template #courseList>
  List of courses
</ng-template>
<ng-template #noCourses>
  No courses yet
</ng-template>
<br/>

<br/>
<app-like
  [likesCount]="tweet.likesCount"
  [isActive]="tweet.isLiked"
></app-like>
<br/>
<br/>
<br/>
<app-panel>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Some content here...</p>
  </div>
</app-panel>
<br/>
<br/>
<courses></courses>
<br/>
<br/>
<app-favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite>
